table tr {
  cursor: pointer;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
}

#container {
  height: 50%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  color: white;
}

#panel {
  background-color: white;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(119, 119, 119);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgrey;
}

label {
  cursor: pointer;
}

textarea {
  width: 400px;
  height: 150px;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #222222 inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

.pac-container {
  background-color: #333;
}

.pac-item {
  color: white;
}

.pac-item:hover{
  background-color: #222222;
  cursor: pointer;
}

.pac-item-query {
  color: white;
}